In [1]:
import sweetviz as sv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/non-local-data.csv", sep=',')
# df = df.query('n == 1')
df = df[["Method", "Beam Type", "L/h", "k", "result"]]

df = df.sort_values(by=['Method'])

In [13]:
df['1'] = pd.to_numeric(df['result'], errors='coerce')
df['1'] = pd.isna(df['1'])

df['result'][60]

'1. 76554'

In [3]:
# i = df.drop_duplicates(subset=["Method", "Beam Type", "L/h", "k"])

duplicateds = df.duplicated(subset=["Method", "Beam Type", "L/h", "k"])
duplicated_indices = np.where(duplicateds)[0]


duplicated_indices

array([], dtype=int64)

In [ ]:
df = pd.read_csv("../data/non-local-data.csv", sep=',')
__df = df.iloc[duplicated_indices][["Case"]]


__df["Case"].to_list()

In [4]:

my_report = sv.analyze(df)
my_report.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [4]:
df[(df['Beam Type'] == 'C-C') & (df['Method'] == "TBT")]

    Method Beam Type  L/h     k    result
145    TBT       C-C    5   0.5   8.70047
146    TBT       C-C   20   0.5  10.42630
187    TBT       C-C    5   1.0   7.92529
108    TBT       C-C   10   0.3   5.87500
109    TBT       C-C   30   0.3   6.17700
110    TBT       C-C  100   0.3   6.21400
188    TBT       C-C   20   1.0   9.43135
271    TBT       C-C    5   5.0   6.66764
35     TBT       C-C   20   0.0  12.41420
314    TBT       C-C   20  10.0   7.91275
313    TBT       C-C    5  10.0   6.34062
34     TBT       C-C    5   0.0  10.03440
272    TBT       C-C   20   5.0   8.16985
76     TBT       C-C    5   0.2   9.41764
230    TBT       C-C   20   2.0   8.60401
229    TBT       C-C    5   2.0   7.21134
77     TBT       C-C   20   0.2  11.38500

In [5]:
df

    Method Beam Type  L/h     k    result
0    ASDBT       C-C    5   0.0  10.09440
322  ASDBT       S-S   30   0.0   2.84400
323  ASDBT       S-S  100   0.0   2.84900
240  ASDBT       C-F   20   5.0   1.30332
116  ASDBT       S-S   20   0.5   4.65165
..     ...       ...  ...   ...       ...
236  TSDBT       S-S   20   2.0   3.83611
273  TSDBT       C-C    5   5.0   6.49028
274  TSDBT       C-C   20   5.0   8.14346
194  TSDBT       S-S   20   1.0   4.20509
319  TSDBT       S-S    5  10.0   3.28107

[640 rows x 5 columns]

In [7]:
df.to_csv("deneme.csv")